<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id = "searchResultHandlerArranger" class="demo.SearchResultHandlerArranger" />

	<bean id = "searchResultHandlerArrangerSubClass" class="demo.extend.SearchResultHandlerArrangerSubClass" />

    <bean id = "manyForOneEventArrangerDemo" class="demo.ManyForOneEventArrangerDemo" />

	<bean id = "oneForManyEventArrangerDemo" class="demo.OneForManyEventArrangerDemo" />
</beans>